<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
    <link rel="stylesheet" th:href="@{/common/layerui/css/layui.css}" media="all">
</head>
<body>


<blockquote class="layui-elem-quote">学生列表</blockquote>

<fieldset class="layui-elem-field">
    <legend>第一步：添加学生</legend>
    <div class="layui-field-box">
        <button type="button" class="layui-btn" onclick="showAddEditView()">添加学生</button>
    </div>
</fieldset>

<table id="demo"></table>

<blockquote class="layui-elem-quote">图书列表</blockquote>

<fieldset class="layui-elem-field">
    <legend>第二步：添加图书</legend>
    <div class="layui-field-box">
        <button type="button" class="layui-btn" onclick="showAddEditBookView()">添加图书</button>
    </div>
</fieldset>

<table id="book"></table>

<fieldset class="layui-elem-field">
    <legend>第三步：绑定关系</legend>
    <div class="layui-field-box">
        <div class="layui-form">
            <div class="layui-form-item" lay-filter="test1">
                <label class="layui-form-label">选择学生</label>
                <div class="layui-input-block">
                    <select name="student" id="studentSel" lay-verify="required">

                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">选择图书</label>
                <div class="layui-input-block">
                    <select name="book" id="bookSel" lay-verify="required">
                    </select>
                </div>
            </div>
        </div>

        <button type="button" class="layui-btn" onclick="bing()">绑定借出关系</button>
    </div>
</fieldset>

<table id="role"></table>

<!-- 你必须先引入jQuery1.8或以上版本 -->
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script th:src="@{/common/layerui/layui.js}"></script>
<script th:inline="none">

    $(function(){
        initTable();
        initBookTable();
        bingView();
        initRoleTable();
    })

    /* 学生 start */
    function initTable(){
        layui.use('table', function(){
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#demo'
                ,height:510
                ,url: '../student/list' //数据接口
                ,where:{
                    // name:$("#searchName").val()
                    // ,password:$("#searchPassword").val()
                }
                ,parseData: function(res){ //res 即为原始返回的数据
                    return {
                        "code": 0 //解析接口状态
                        ,"count": res.totalElements //解析数据长度
                        ,"data": res.data //解析数据列表
                    };
                }
                ,page: true //开启分页
                ,limit: 10
                ,cols: [[ //表头
                    {field: 'studentId', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'studentName', title: '用户名', width:160}
                    ,{field: 'studentAge', title: '年龄', width:80}
                    ,{field: 'studentBorn', title: '出生年月', width:240}

                    ,{field:'title', title: '操作', width: 150
                        ,templet: function(d){
                            return '<a class="layui-btn layui-btn-sm layui-btn-danger" onclick="delView(' + d.studentId + ',&quot;' + d.studentName + '&quot;)">删除</a>' +
                                '<a class="layui-btn layui-btn-sm layui-btn-normal" onclick="showAddEditView(' + d.studentId + ',&quot;' + d.studentName + '&quot;)">修改</a>'
                        }
                    }
                ]]
            });

        });
    }


    function showAddEditView(studentId,studentName){
        var tips = "";
        tips = studentId != null ? '输入修改学生姓名' : '输入新增学生姓名' ;
        var message = "";
        tips = studentId != null ? '修改' : '新增' ;
        var initValue = "";
        initValue = studentId != null ? studentName : '' ;
        layer.prompt({title: tips, formType: 0,value: initValue}, function(studentName, index){
            layer.close(index);

            var para = {"studentName":studentName,"studentId":studentId};
            $.post("../student/subStudent", para,function(data) {
                if(data.state){
                    layer.msg(tips + "成功");
                    initTable();
                    bingView();
                }else{
                    layer.msg(tips + "失败，请重试");
                }

            });
        });
    }

    function delView(studentId,studentName){
        layer.confirm('是否删除' + studentName + '？', {
            btn: ['是','否'] //按钮
        }, function(){
            $.post("../student/delStudent", {"studentId":studentId},function(data) {
                if(data.state){
                    layer.msg("删除成功");
                    initTable();
                    bingView();
                }else{
                    layer.msg("删除失败，请重新删除");
                }
            });
        }, function(){});
    }

    /* 学生 end */

    /* 图书 start */
    function initBookTable(){
        layui.use('table', function(){
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#book'
                ,height:510
                ,url: '../book/list' //数据接口
                ,where:{
                    // name:$("#searchName").val()
                    // ,password:$("#searchPassword").val()
                }
                ,parseData: function(res){ //res 即为原始返回的数据
                    return {
                        "code": 0 //解析接口状态
                        ,"count": res.totalElements //解析数据长度
                        ,"data": res.data //解析数据列表
                    };
                }
                ,page: true //开启分页
                ,limit: 10
                ,cols: [[ //表头
                    {field: 'bookId', title: 'ID', width:80, sort: true, fixed: 'left'}
                    ,{field: 'bookName', title: '书名', width:160}
                    ,{field: 'bookCreateTime', title: '创建时间', width:240}
                    ,{field: 'roles', title: '状况', width:240}

                    ,{field:'title', title: '操作', width: 240
                        ,templet: function(d){
                            return '<a class="layui-btn layui-btn-sm layui-btn-danger" onclick="delBookView(' + d.bookId + ',&quot;' + d.bookName + '&quot;)">删除</a>' +
                                '<a class="layui-btn layui-btn-sm layui-btn-normal" onclick="showAddEditBookView(' + d.bookId + ',&quot;' + d.bookName + '&quot;)">修改</a>';
                        }
                    }
                ]]
            });

        });
    }

    function showAddEditBookView(bookId,bookName){
        var tips = "";
        tips = bookId != null ? '输入修改图书名称' : '输入新增图书名称' ;
        var message = "";
        message = bookId != null ? '修改' : '添加' ;
        var initValue = "";
        initValue = bookId != null ? bookName : '' ;
        layer.prompt({title: tips, formType: 0,value: initValue}, function(bookName, index){
            layer.close(index);

            var para = {"bookName":bookName,"bookId":bookId};
            $.post("../book/subBook", para,function(data) {
                if(data.state){
                    layer.msg(message + "成功");
                    initBookTable();
                    bingView();
                }else{
                    layer.msg(message + "失败，请重试");
                }

            });
        });
    }

    function delBookView(bookId,bookName){
        layer.confirm('是否删除' + bookName + '？', {
            btn: ['是','否'] //按钮
        }, function(){
            $.post("../book/delBook", {"bookId":bookId},function(data) {
                if(data.state){
                    layer.msg("删除成功");
                    initBookTable();
                    bingView();
                }else{
                    layer.msg("删除失败，请重新删除");
                }
            });
        }, function(){});
    }
    /* 图书 end */

    /* 关系 start */
    function initRoleTable(){
        layui.use('table', function(){
            var table = layui.table;

            //第一个实例
            table.render({
                elem: '#role'
                ,height:510
                ,url: '../role/list' //数据接口
                ,where:{
                    // name:$("#searchName").val()
                    // ,password:$("#searchPassword").val()
                }
                ,parseData: function(res){ //res 即为原始返回的数据
                    return {
                        "code": 0 //解析接口状态
                        ,"count": res.totalElements //解析数据长度
                        ,"data": res.data //解析数据列表
                    };
                }
                ,page: true //开启分页
                ,limit: 10
                ,cols: [[ //表头
                    {field: 'roleId', title: 'ID', width:80, sort: true, fixed: 'left'}

                    ,{field:'title', title: '学生姓名', width: 240
                        ,templet: function(d){
                            return d.student.studentName;
                        }
                    }

                    ,{field:'title', title: '书名', width: 240
                        ,templet: function(d){
                            return d.book.bookName;
                        }
                    }
                    ,{field: 'roleName', title: '状态', width:240}
                ]]
            });

        });
    }

    function bingView(bookId,bookName){
        $.post("../role/allData", {},function(data) {
            var books = data.allBook;
            var students = data.allStudent;

            var bookHtml = '<option value=""></option>';
            $(books).each(function(index,book){
                bookHtml += '<option value="' + book.bookId + '">' + book.bookName + '</option>'
            })

            var studentHtml = '<option value=""></option>';
            $(students).each(function(index,student){
                studentHtml += '<option value="' + student.studentId + '">' + student.studentName + '</option>'
            })

            $("#bookSel").html(bookHtml);
            $("#studentSel").html(studentHtml);



            layui.use('form', function(){
                var form = layui.form;
                form.render('select'); //刷新select选择框渲染
            });

        });
    }

    function bing(){
        var bookSel = $("#bookSel  option:selected").val();
        var studentSel = $("#studentSel  option:selected").val();
        if(bookSel != null && bookSel >0){
            if(studentSel != null && studentSel > 0){
                $.post("../role/bing", {"bookId":bookSel,"studentId":studentSel},function(data) {
                    console.info(data);
                    if(data.state){
                        initRoleTable();
                        layer.msg("绑定成功");
                    }else{
                        layer.msg("绑定失败");
                    }

                });
            }else{
                layer.alert("请选择学生");
            }
        }else{
            layer.alert("请选择图书");
        }
    }
    /* 关系 end */
</script>
</body>
</html>